@{
  Layout = "_Layout";
}

@using Library.Models;

<h2>Search Results:</h2>

@foreach(Catalog lookup in Model)
{
   <li>
     <h3>@Html.ActionLink($"{lookup.Name}", "Details", "Catalogs", new {id = lookup.CatalogId})</h3>
   </li>
}