@{
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>Welcome to the library</h1>
<p>@Html.ActionLink("View catalogs", "Index", "Catalogs")</p>
<p>@Html.ActionLink("View books", "Index", "Books")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>