 <img src='~/img/logo.png' alt="Library Logo" height="165px" width="165px" class="logo">
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/book">View Books</a></li>
    <li role="presentation"><a href='/book/new'>Add a Book</a></li>
  </ul>